html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App ul{
  list-style-type: none;
}

.page-container{
  min-height: 100%;
  }
.main-page{
  overflow: auto;
  padding-bottom: 100px;
  min-height: 820px;
}
.cart-page, .favorite-page{
  margin: 10% 5%;
}
.auth-form{
  width: 25rem;
  max-width: 80%;
  margin: 8rem auto;
}

form-control label,
.form-control input,
.form-control textarea{
  width: 100%;
  display: block;
  outline: none;
}
.form-control label{
  margin-bottom: 0.5rem;
}
.form-control{
  margin-bottom: 1rem;
  /* box-shadow: 5px 10px 8px #888888; */
}
.form-actions button,
.btn{
  background: black;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  color: white;
  cursor: pointer;
}
.btn:disabled{
  background: gray;
  border: 1px solid gray;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active{
  opacity: 0.7;
  cursor: pointer;
}

@media(max-width: 768px){
    .product-list-item img{
      width: 80%;
    }
    .cart-page, .favorite-page{
      margin: 20% 5%;
    }

}
